.search input{
    border-radius: 5px;
    border: none;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.bg-today{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.bg-forecast{
    background-color: rgba(215, 166, 40, 0.5);
    border-radius: 5px;
}