@mixin btn{
    border-radius: 25px;
    border: none;
    padding: 5px 20px;
}

.btn-primary{
    @include btn;
    background-color: #{$but1} ;
}

.btn-secondary{
    @include btn;
    background-color: #{$but2} ;
}

.btn-tertiary{
    @include btn;
    background-color: #{$but3} ;
}