.inline{
    display:inline;
}

.flex{
    display:flex;
}

.block{
    display: block;
}

// .padding-block-lg{
//     @extend .block;
//     padding: 10px;
// }

// .padding-inline-xxl{
//     @extend .inline;
//     padding: 25px;
// }