@import 'reset';
@import 'colors';
@import 'font';
@import 'spacings';
@import 'buttons';


nav{
    background-color: #{$bgcolor} ;
    text-align: center;
}

nav ul li{
    @extend .inline;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-family: #{$title};
    padding: 20px;
}